p {
	text-align: center;
	color: white;
}
.link {
	text-align: center;
	color: lightgrey;
}
h2 {
	text-align: center;
	color: white;
}
h1 {
	color: white;
}
li {
	color: white;
}
.wrapper {

}
.center {
	display: flex;
	justify-content: space-around;
}
.centered {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
#bobimage {

}
body {
	background-color: black;
}