p {
	text-align: center;
	color: white;
}
a {
	text-align: center;
	color: lightgrey;
}
a:visited {
	color: lightslategrey;
}
h2 {
	text-align: center;
	color: white;
}
h1 {
	color: white;
}
li {
	color: white;
}
.wrapper {

}
.center {
	display: flex;
	justify-content: space-around;
}
#bobimage {

}
body {
	background-color: black;
}